
*{
    font-family: 'Helvetica';
}
html{
    background-color: white;
    margin: 0px;
}

body{
    background: -webkit-linear-gradient(rgb(206, 230, 255), white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(206, 230, 255), white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(206, 230, 255), white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(206, 230, 255), white); /* Standard syntax (must be last) */
    border-radius: 10px;
	height: 100%;
}

header{
    display: block;
    border-bottom: 2px solid rgb(66, 74, 82);
    margin-bottom: 5px;
}

div#main_info{
    display: block;
    overflow: hidden;
}

div#center_block{
    display: inline-block;
    overflow: hidden;
    background-color: white;
    margin: 0.4%;
    margin-left: 0px;
    padding: 10px;
    width: 75%;
    border-radius: 10px;
    padding-bottom: 100%;
    margin-bottom: -100%
}

div#card_block{
    display: block;
    transition: background-color 0.3s;
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
}

div#card_block:hover{
    background-color: rgb(206, 230, 255);
}

img{
    width: 95px;
    height: 100px;
    display: inline-block;    
}

div#card_info{
    margin-left: 3px;
    display: inline-block;
}

div#left_column{
    float: left;
    width: 20%;
    margin: 0.4%;
    margin-right: 0px;
    padding: 5px;
    
    /*Trick found online to make the center block same height as left column*/
    padding-bottom: 100%;
    margin-bottom: -100%
}

h4{
    margin: 6px;
    margin-top: 10px;
    text-decoration: underline;
}

h5{
    margin-bottom: -10px;
    font-size: 100%;
}

h1{
    font-family:  'Hoefler Text';
    font-size: 220%;
    margin: 5px;
    padding-top: 15px;
    color: rgb(66, 74, 82);
}

div#main_titol{
    text-align: center;
}

ul#nav_ul{
    list-style-type: square;
    padding-left: 20px;
}

li#nav_li{
    margin: 10px;
    margin-left: 0px;
    margin-right: 5px;
}

ul#footer_ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

li#footer_li{
    display: inline-block;
    width: auto;
    margin-right: 20px;
    padding: 0;
}

input[type="submit"]{
    margin: 10px;
    margin-left: 0px;
}

input[type="reset"]{
    margin: 10px;
    margin-left: 0px;
}

div#user_info{
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(66, 74, 82);
}

footer{
    display: block;
    border-top: 2px solid rgb(66, 74, 82);
    text-align: center;
}

/* unvisited link */
a:link {
    color: rgb(66, 74, 82);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: rgb(66, 74, 82);
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: rgb(66, 74, 82);
    text-decoration: underline;
}

/* selected link */
a:active {
    color: rgb(66, 74, 82);
    text-decoration: none;
}

p#good{
	color: green;
    font-weight: bold;
    margin: 5px;
}

p#error{
    color: red;
    font-weight: bold;
    margin: 5px;
}
